.upload-page{
    padding: 50px 70px;
}

.upload-form{
    max-width: 700px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.upload-form .form-group{
    margin-bottom: 20px;
}

.upload-form select{
    width: 100%;
    height: 52px;
    padding: 0 18px;
    border: 1px solid var(--border);
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    background: white;
}